
/* RESET SUPER-SIMPLE.NET */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* MY RESET---------------- * * * */
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    transition: all 300ms;
    position: relative;

}

ul, ol{
    list-style-type: none;
}

li{

    list-style: none;
}



/*BREAKPOINTS---------------- * * * */

/* MIS BREAKPOINTS
mobile-small  >>>>> up to 576 px
mobile-medium  >>> up to 768 px
tablet  >>>>>>>>>> up to 992 px
desktop  >>>>>>>> up to 1200 px
widescreen >>>>>> up to 1216 px
fullhd >>>>>>>>>> up to 1400 px */
	


/*COLORS---------------- * * * */

$cream: #FFFDF8;
$cyan: #3F676D;
$light-cyan: #6EB3BD;
$peach:	#F3C59F;
$deep:#262B49;
$danger:#C84350;
$success: #B8E986;

$primary: $cream;
$link: $deep;
$info: $cyan;
$warning: $peach;
$dark: $deep;
$text: $deep;

$successShadow: #81A35E;   
$peachShadow: #A4866D;
$dangerShadow: #9C333D;


$general-shadow: rgba(38,43,73,.2);


/*GLOBAL FONTS---------------- * * * */

$family-primary: 'Comfortaa', 'sans-serif';
$family-secondary: 'Work Sans', 'cursive';



/*GLOBAL VARIABLES & MIXINS---------------- * * * */


*{
    font-family: $family-primary;
    line-height: 1.5;

}
body{
    background-color: #FFFDF8;
    color: $cyan;
}


@mixin shadow {
    box-shadow: -10px 10px 24px $general-shadow;
}


/*HEADER---------------- * * * */

header {
    @include shadow();
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: $cream;
}


/*LOGO---------------- * * * */

.navLogo{

    &:hover{
        cursor: pointer;
    }
    
}

.logoImg{
    width: 60px;
    height: 60px;
}

.logoText{


    .logoText--title{
        font-family: $family-secondary;
        color: $deep;
        font-size: 28px;
        line-height: 1;
    }
    .logoText--subtitle{
        font-family: $family-primary;
        color: $danger;
        font-size: 18px;
    }
}




/*MAIN NAV---------------- * * * */

.navbar{
    background-color: $cream;
}

.navbar-item{



    &:after{
        position: absolute;
        bottom: 30px;
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: $peach;
        border-radius: 2px;
    }
    &:hover{
        
        &:after{
            transition: all 300ms;
            width: 90%;
        }
    }
}


.navbar-item a:hover > .navbar-item a::after{
    width: 100%;
}


/* HEADINGS ---------------- * * * */
.title, h1, .title.is-1{
    font-family: $family-secondary;
    color: $deep;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
}
.subtitle, h2, .content h2, .subtitle.is-2{
    font-family: $family-primary;
    color: $deep;
    font-size: 22px;
    line-height: 1.5;
}
h3, .title.is-3{
    font-family: $family-secondary;
    color: $deep;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
}

h4, .title.is-4{
    font-family: $family-primary;
    color: $deep;
    font-size: 20px;
    line-height: 1.5;
}

p{
    line-height: 1.5;
}

a{
    color: $deep;
    font-weight: bold;
    opacity: .8;
}
a:hover{
    color: $cyan;
    opacity: 1;
}

/*CARDS---------------- * * * */
.card{
    background-color: $light-cyan;
}

/*BLOCKS, WRAPS & CONTAINERS ---------------- * * * */



/*MAIN---------------- * * * */

main{

    margin-top: 0px;
}


/*HERO INTRODUCTION---------------- * * * */

.principal{

    height: 105vh;
    background-color: $cream;

}

/*PROJECTS---------------- * * * */

.projects{


}




/*PAINT BUCKET---------------- * * * */

/* .bucket{

    background-color: #ACD2E6;
    height: 100%;
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    top: 100px;
    transition: opacity 1000ms ease-in-out;
    overflow: hidden;
    opacity: 0;
} */



/*SCROLL APPEAR---------------- * * * */

.appear{
    
    opacity: 1;

}
