/* RESET SUPER-SIMPLE.NET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article {
  margin-bottom: 2em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* MY RESET---------------- * * * */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  transition: all 300ms;
  position: relative;
}

ul, ol {
  list-style-type: none;
}

li {
  list-style: none;
}

/*BREAKPOINTS---------------- * * * */
/* MIS BREAKPOINTS
mobile-small  >>>>> up to 576 px
mobile-medium  >>> up to 768 px
tablet  >>>>>>>>>> up to 992 px
desktop  >>>>>>>> up to 1200 px
widescreen >>>>>> up to 1216 px
fullhd >>>>>>>>>> up to 1400 px */
/*COLORS---------------- * * * */
.bg-lcyan {
  background-color: #6EB3BD;
}

.bg-peach {
  background-color: #F3C59F;
}

.bg-success {
  background-color: #B8E986;
}

/*GLOBAL FONTS---------------- * * * */
/*GLOBAL VARIABLES & MIXINS---------------- * * * */
* {
  font-family: "Comfortaa", "sans-serif";
  line-height: 1.5;
}

body {
  background-color: #FFFDF8;
  color: #3F676D;
}

.columns {
  flex-wrap: wrap;
}

figure img {
  width: 100%;
  border-radius: 6px;
}

/* HEADINGS ---------------- * * * */
h1 {
  font-family: "Work Sans", "cursive";
  color: #262B49;
  font-weight: normal;
  font-size: calc(1rem + 1.1vw);
  line-height: 1.5;
  padding-bottom: 1rem;
}

h2 {
  font-family: "Comfortaa", "sans-serif";
  color: #3F676D;
  font-size: calc(1rem + .3vw);
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 1rem;
}

h3 {
  font-family: "Work Sans", "cursive";
  color: #F3C59F;
  font-size: calc(1rem + .3vw);
  line-height: 1.5;
  font-weight: lighter;
  padding-bottom: 1rem;
}

h4 {
  font-family: "Comfortaa", "sans-serif";
  color: #262B49;
  font-size: calc(1rem + .3vw);
  line-height: 1.5;
  padding-bottom: 1rem;
}

p {
  line-height: 1.5;
  padding-bottom: 1rem;
  font-size: 100%;
}

a {
  color: #262B49;
  font-weight: bold;
  opacity: 0.8;
}

a:hover {
  color: #6EB3BD;
  opacity: 1;
}

/*BIG BLOCKS AND COMPONENTS---------------- * * * */
.container {
  margin: 0 auto;
}

main {
  padding-top: 2rem;
}

section {
  padding: 1rem 2rem;
  max-width: 1200px;
}

article {
  margin-bottom: 3rem;
}

.wrapCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  align-items: flex-start;
}

.card {
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  margin: 0 1rem 2rem 0;
  box-shadow: -10px 10px 24px rgba(38, 43, 73, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.card .infoArticle {
  margin-top: 0;
  width: 70%;
  padding: 2rem;
}
.card .infoArticle h2 {
  color: #262B49;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
}

nav {
  max-width: 1200px;
  padding: 0 2rem;
}

/*HEADER---------------- * * * */
header {
  box-shadow: -10px 10px 24px rgba(38, 43, 73, 0.2);
  padding: 1rem 2rem;
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: #FFFDF8;
}

/*LOGO---------------- * * * */
.navLogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 40%;
}
.navLogo:hover {
  cursor: pointer;
}

.logoImg {
  width: 60px;
  height: 60px;
}

.logoText {
  padding-left: 1rem;
  padding-bottom: 0;
}
.logoText .logoText--title {
  font-family: "Work Sans", "cursive";
  color: #262B49;
  font-size: 28px;
  line-height: 1;
  padding-bottom: 0;
}
.logoText .logoText--subtitle {
  font-family: "Comfortaa", "sans-serif";
  color: #C84350;
  font-size: 18px;
  padding-bottom: 0.2rem;
}

/*MAIN NAV---------------- * * * */
.navbar {
  background-color: #FFFDF8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbarMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.navbar--item {
  padding-left: 1rem;
  line-height: 2;
}
.navbar--item:after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #F3C59F;
  border-radius: 2px;
}
.navbar--item:hover {
  cursor: pointer;
}
.navbar--item:hover:after {
  transition: all 300ms;
  width: 90%;
}

.navbar--item a:hover > .navbar--item a::after {
  width: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.tag {
  min-width: 100px;
  text-align: center;
  color: #FFFDF8;
  line-height: 0;
  padding: 0 1rem;
  border-radius: 2rem;
  background-color: #6EB3BD;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/*HERO INTRODUCTION---------------- * * * */
.hero {
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*STUDIES---------------- * * * */
.card::after {
  content: "";
  display: block;
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.bootcampUX::after {
  background-image: url(./img/brands/ux-ui.png);
}

.jsAepi::after, .jsFictizia::after {
  background-image: url(./img/brands/js.png);
}

.angularFictizia::after {
  background-image: url(./img/brands/angular.png);
}

.masterFictizia::after, .cursoCice::after {
  background-image: url(./img/brands/front.png);
}

.wordpressMadrid::after {
  background-image: url(./img/brands/wp.png);
}

/*EXPERIENCE---------------- * * * */
.exp h2 {
  padding-bottom: 0;
}

/*CONTACT---------------- * * * */
.contact {
  min-height: 50vh;
}
.contact .card {
  margin: 3rem auto;
  width: 100%;
  max-width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem 1rem;
}
.contact .infoArticle {
  padding: 0;
}
.contact img {
  max-width: 150px;
}

/*FOOTER---------------- * * * */
.footer {
  margin-top: 3rem;
  background-color: #6EB3BD;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.footer .navbar {
  background-color: #6EB3BD;
}
.footer .navbar a {
  color: #FFFDF8;
}

/*SCROLL APPEAR---------------- * * * */
.appear {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
