
/* RESET SUPER-SIMPLE.NET */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* MY RESET---------------- * * * */
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    transition: all 300ms;
    position: relative;

}

ul, ol{
    list-style-type: none;
}

li{

    list-style: none;
}



/*BREAKPOINTS---------------- * * * */

/* MIS BREAKPOINTS
mobile-small  >>>>> up to 576 px
mobile-medium  >>> up to 768 px
tablet  >>>>>>>>>> up to 992 px
desktop  >>>>>>>> up to 1200 px
widescreen >>>>>> up to 1216 px
fullhd >>>>>>>>>> up to 1400 px */

@mixin maxWidthDesktop {
    max-width: 1200px;
    margin: 0 auto;
}
@mixin maxWidthTablet {
    max-width: 992px;
    
}
@mixin maxWidthMobile {
    max-width: 768;
    
}
@mixin maxWidthSmallMobile {
    max-width: 576;
    
}
	


/*COLORS---------------- * * * */

$cream: #FFFDF8;
$cyan: #3F676D;
$light-cyan: #6EB3BD;
$peach:	#F3C59F;
$deep:#262B49;
$danger:#C84350;
$success: #B8E986;

$successShadow: #81A35E;   
$peachShadow: #A4866D;
$dangerShadow: #9C333D;

$generalShadow: rgba(38,43,73,.2);


.bg-lcyan{
    background-color: $light-cyan;
}
.bg-peach{
    background-color: $peach;
}
.bg-success{
    background-color: $success;
}

/*GLOBAL FONTS---------------- * * * */

$family-primary: 'Work Sans', 'cursive';
$family-secondary: 'Comfortaa', 'sans-serif';



/*GLOBAL VARIABLES & MIXINS---------------- * * * */


*{
    font-family: $family-secondary;
    line-height: 1.5;

}
body{
    background-color: $cream;
    color: $cyan;
}

.columns{
    flex-wrap: wrap;
}

figure img{
    height: 100%;
    border-radius: 6px;
    opacity: .9;

}
a figure img:hover{

    opacity: 1;
}

$bradius: 2rem;
$minPadding: 1rem;
$padding2: 2rem;
$padding3: 3rem;


@mixin shadow {
    box-shadow: -10px 10px 24px $generalShadow;
}
@mixin flex--between{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
@mixin flex--start{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

@mixin flex--end{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

@mixin flex--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* HEADINGS ---------------- * * * */
h1{ 
    font-family: $family-primary;
    color: $deep;
    font-weight: normal;
    font-size: calc(1rem + 1.1vw);
    line-height: 1.5;
    padding-bottom: $minPadding;

}
h2{ 
    font-family: $family-secondary;
    color: $cyan;
    font-size: calc(1rem + .3vw);
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: $minPadding;
}
h3{
    font-family: $family-primary;
    color: $peach;
    font-size: calc(1rem + .3vw);
    line-height: 1.5;
    font-weight: lighter;
    padding-bottom: $minPadding;
}

h4{
    font-family: $family-secondary;
    color: $deep;
    font-size: calc(1rem + .3vw);
    line-height: 1.5;
    padding-bottom: $minPadding;
}

p{
    line-height: 1.5;
    padding-bottom: $minPadding;
    font-size: 100%;
}

a{
    color: $deep;
    font-weight: bold;
    opacity: .8;
}
a:hover{
    color: $cyan;
    opacity: 1;
}

/*BIG BLOCKS AND COMPONENTS---------------- * * * */
main{
    padding-top: $padding2;
}
section{
    padding: $minPadding $padding2;
    min-height: 90vh;
    @include maxWidthDesktop();

}
.wrapCards{
    @include flex--start();
    align-items: flex-start;
} 

.card{


    border-radius: $bradius;
    width: 100%;
    overflow: hidden;
    margin: 0 $minPadding $padding2 0;
    @include shadow();
    @include flex--start();

    h2{
        color: $deep;
        padding-bottom: 0;
        margin: 0;
    }


    .infoArticle{
        margin-top: 0;
        width: 70%;
        padding: $padding2;

    }
} 

nav{
    @include maxWidthDesktop();
    padding: 0 $padding2;
}

/*HEADER---------------- * * * */

header {
    @include shadow();
    padding: $minPadding $padding2;
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: $cream;
}


/*LOGO---------------- * * * */

.navLogo{
    @include flex--start();
    width: 40%;
    &:hover{
        cursor: pointer;
    }
    
}

.logoImg{
    width: 60px;
    height: 60px;
}

.logoText{

padding-left: 1rem;
padding-bottom: 0;

    .logoText--title{
        font-family: $family-primary;
        color: $deep;
        font-size: 28px;
        line-height: 1;
        padding-bottom: 0;
    }
    .logoText--subtitle{
        font-family: $family-secondary;
        color: $danger;
        font-size: 18px;
        padding-bottom: .2rem;
    }
}




/*MAIN NAV---------------- * * * */

.navbar{
    background-color: $cream;
    @include flex--between();

}

.navbarMenu{
    width: 60%;
    @include flex--end();
}

.navbar--item{

    padding-left: $minPadding;
    line-height: 2;

    &:after{
        position: absolute;
        bottom: 0px;
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: $peach;
        border-radius: 2px;
    }
    &:hover{
        cursor: pointer;
        &:after{
            transition: all 300ms;
            width: 90%;
        }
    }
}


.navbar--item a:hover > .navbar--item a::after{
    width: 100%;
}

.tags{
    @include flex--start();
}
.tag{
    padding: $minPadding;
    border-radius: $bradius;
    background-color: $light-cyan;
    padding: $minPadding;
    margin-right: $minPadding;
}



/*HERO INTRODUCTION---------------- * * * */

.principal{

    height: 85vh;
    background-color: $cream;

}



/*STUDIES---------------- * * * */
.card::after{
    content: '';
    //background-color: $light-cyan;
    display: block;
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;


}
.bootcampUX::after{

    background-image: url(./img/brands/ux-ui.png);
}
.jsAepi::after, .jsFictizia::after{

    background-image: url(./img/brands/js.png);
}
.angularFictizia::after{

    background-image: url(./img/brands/angular.png);
}
.masterFictizia::after, .cursoCice::after{
    background-image: url(./img/brands/front.png);
}
.wordpressMadrid::after{
    background-image: url(./img/brands/wp.png);
}

/*FOOTER---------------- * * * */

.footer{
    background-color: $cream;
}



/*SCROLL APPEAR---------------- * * * */

.appear{
    
    opacity: 1;

}
