/* RESET SUPER-SIMPLE.NET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article {
  margin-bottom: 2em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* MY RESET---------------- * * * */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  transition: all 300ms;
  position: relative;
}

ul, ol {
  list-style-type: none;
}

li {
  list-style: none;
}

/*BREAKPOINTS---------------- * * * */
/* MIS BREAKPOINTS
mobile-small  >>>>> up to 576 px
mobile-medium  >>> up to 768 px
tablet  >>>>>>>>>> up to 992 px
desktop  >>>>>>>> up to 1200 px
widescreen >>>>>> up to 1216 px
fullhd >>>>>>>>>> up to 1400 px */
/*COLORS---------------- * * * */
.bg-lcyan {
  background-color: #6EB3BD;
}

.bg-peach {
  background-color: #F3C59F;
}

.bg-success {
  background-color: #B8E986;
}

/*GLOBAL FONTS---------------- * * * */
/*GLOBAL VARIABLES & MIXINS---------------- * * * */
* {
  font-family: "Comfortaa", "sans-serif";
  line-height: 1.5;
}

body {
  background-color: #FFFDF8;
  color: #262B49;
}

.gradientBottom {
  display: block;
  position: fixed;
  z-index: 300;
  bottom: 0;
  background-color: tan;
  left: 0;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(180deg, rgba(255, 253, 248, 0) 0%, #fffdf8 100%);
}

.columns {
  flex-wrap: wrap;
}

figure img {
  width: 100%;
  border-radius: 6px;
}

/* ANIMATIONS ---------------- * * * */
@keyframes appearUp {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: left bottom;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: left bottom;
  }
}
@keyframes bounceArrowDown {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  50% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  57% {
    transform: scale(1, 1) translateY(0);
  }
  60% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes bounceArrowUp {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  50% {
    transform: scale(1, 1) translateY(7px);
  }
  57% {
    transform: scale(1, 1) translateY(0);
  }
  60% {
    transform: scale(0.9, 1.1) translateY(10px);
  }
  64% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes splash {
  0% {
    transform: scale(0);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
  }
}
.intro {
  opacity: 0;
  transform: scale(0);
  transform-origin: left bottom;
}

.appear {
  animation: appearUp 600ms ease-in-out forwards;
}

.arrow {
  position: absolute;
  top: 80vh;
  right: 100%;
  margin-right: -50%;
  background-color: #6EB3BD;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 8px 5px;
}
.arrow i::before {
  color: #FFFDF8;
}

.arrowDown {
  animation: bounceArrowDown 3000ms ease-in-out infinite;
  animation-delay: 2000ms;
}

.arrowUp {
  position: fixed;
  right: 2rem;
  animation: bounceArrowUp 3000ms ease-in-out infinite;
  animation-delay: 2000ms;
}

.dropAnimation {
  animation: splash 300ms ease-in forwards;
  animation-delay: 400ms;
}

/* HEADINGS ---------------- * * * */
h1 {
  font-family: "Work Sans", "cursive";
  color: #262B49;
  font-weight: normal;
  font-size: calc(1rem + 1.1vw);
  line-height: 1.5;
  padding-bottom: 3rem;
  padding-top: 4rem;
}

h2 {
  font-family: "Comfortaa", "sans-serif";
  color: #262B49;
  font-size: calc(1rem + .5vw);
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 1rem;
}

h3 {
  font-family: "Work Sans", "cursive";
  color: #F3C59F;
  font-size: calc(1rem + .4vw);
  line-height: 1.5;
  font-weight: lighter;
  padding-bottom: 1rem;
}

h4 {
  font-family: "Comfortaa", "sans-serif";
  color: #262B49;
  font-size: calc(1rem + .3vw);
  line-height: 1.5;
  padding-bottom: 1rem;
}

p {
  line-height: 1.5;
  padding-bottom: 1rem;
  font-size: calc(1rem + .1vw);
}

a {
  color: #262B49;
  font-weight: bold;
  opacity: 0.8;
}

a:hover {
  color: #6EB3BD;
  opacity: 1;
}

.warning {
  color: #C84350;
}

/*BIG BLOCKS AND COMPONENTS---------------- * * * */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

nav {
  max-width: 1200px;
  padding: 0 2rem;
}

section {
  padding: 5rem 2rem;
}

article {
  margin-bottom: 3rem;
}

.wrapCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.card {
  background-color: #FFFDF8;
  border-radius: 2rem;
  width: 31%;
  min-height: 38vh;
  overflow: hidden;
  margin: 0 1rem 2rem 0;
  box-shadow: -10px 10px 24px rgba(38, 43, 73, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.card .infoArticle {
  margin-top: 0;
  padding: 2rem;
}
.card .infoArticle h2 {
  color: #262B49;
  padding-bottom: 0;
  margin: 0;
  padding: 0;
}

.fixed {
  position: fixed;
  top: 10vh;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.tag {
  font-size: 12px;
  font-weight: bold;
  animation-delay: 200ms;
  min-width: 100px;
  text-align: center;
  color: #FFFDF8;
  line-height: 0;
  padding: 0 1rem;
  border-radius: 2rem;
  background-color: #6EB3BD;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.bigBgColor {
  background-color: rgba(110, 179, 189, 0.2);
  width: 100%;
}
.bigBgColor .tag {
  color: #FFFDF8;
}
.bigBgColor h1, .bigBgColor h2 {
  color: #262B49;
}
.bigBgColor h3 {
  color: #F3C59F;
}
.bigBgColor p {
  color: #262B49;
}

.wrapSideBlocks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.sideBlock {
  width: 100%;
  max-width: 800px;
  border-left: 4px solid #F3C59F;
  padding-left: 2rem;
}
.sideBlock h2 {
  padding-bottom: 0;
}

.bucket {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-dark-opac-25.svg);
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: contain;
  background-position: right center;
}

.bucket--cyan {
  background-image: url(../img/bg-cyan__trans__opac-25.svg);
}

.bucket--peach {
  background-image: url(../img/bg-peach-opac-25.svg);
}

.bucket--success {
  background-image: url(../img/bg-success-opac-50.svg);
}

/*HEADER---------------- * * * */
header {
  box-shadow: -10px 10px 24px rgba(38, 43, 73, 0.2);
  padding: 1rem 2rem;
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: #FFFDF8;
}

/*LOGO---------------- * * * */
.navLogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 40%;
}
.navLogo:hover {
  cursor: pointer;
}

.logoImg {
  width: 60px;
  height: 60px;
}

.logoText {
  padding-left: 1rem;
  padding-bottom: 0;
}
.logoText .logoText--title {
  font-family: "Work Sans", "cursive";
  color: #262B49;
  font-size: calc(1rem + 1.1vw);
  line-height: 1;
  padding-bottom: 0;
  padding-top: 0;
}
.logoText .logoText--subtitle {
  font-family: "Comfortaa", "sans-serif";
  color: #6EB3BD;
  font-size: calc(1rem + .3vw);
  padding: 0 0 0 5px;
}

/*MAIN NAV---------------- * * * */
.navbar {
  background-color: #FFFDF8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbarMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.navbar--item {
  padding-left: 1rem;
  line-height: 2;
}
.navbar--item:after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #F3C59F;
  border-radius: 2px;
}
.navbar--item:hover {
  cursor: pointer;
}
.navbar--item:hover:after {
  transition: all 300ms;
  width: 90%;
}

.navbar--item a:hover > .navbar--item a::after {
  width: 100%;
}

/*HERO INTRODUCTION---------------- * * * */
.hero {
  top: 30;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}
.hero h1 {
  display: block;
  padding-top: 0;
  padding-bottom: 1rem;
}
.hero article {
  width: 60%;
  min-height: 10vh;
  margin-bottom: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#artist {
  font-weight: bold;
  font-family: "Gloria Hallelujah", cursive;
  color: #6EB3BD;
}

.drop {
  display: block;
  background-image: url(../img/drop-success.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -70px;
  right: -70px;
  transform: scale(0);
  transform-origin: center;
}

.drop2 {
  background-image: url(../img/drop-light-cyan.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
  top: -30px;
  right: -90px;
}

/*PROYECTS---------------- * * * */
/*STUDIES---------------- * * * */
.studies .wrapCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.studies .card {
  width: 48%;
  margin: 0;
  margin-top: 2rem;
}

/*EXPERIENCE---------------- * * * */
/*CONTACT---------------- * * * */
.contact {
  min-height: 80vh;
  padding-bottom: 30vh;
  text-align: center;
}
.contact .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 3rem auto;
  width: 100%;
  max-width: 400px;
  padding: 2rem 1rem;
}
.contact .infoArticle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}
.contact .rrss {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.contact .linkedin, .contact .github {
  padding: 1rem 1rem 0;
}
.contact .linkedin i, .contact .github i {
  font-size: 40px;
}
.contact img {
  max-width: 150px;
}

/*FOOTER---------------- * * * */
.footer {
  min-height: 20vh;
  background-color: #6EB3BD;
  padding: 1rem 3rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.footer .navbar {
  background-color: #6EB3BD;
}
.footer .navbar a {
  color: #FFFDF8;
}

/*ICONS---------------- * * * */
.greet {
  display: block;
  box-sizing: border-box;
  width: calc(3rem + .1vw);
  height: calc(3rem + .1vw);
  background-image: url(../img/icons/open-hand.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*MEDIA QUERIES---------------- * * * */
@media (max-width: 950px) {
  .studies .card {
    min-height: 40vh;
  }
}
@media (max-width: 780px) {
  .studies .card {
    min-height: inherit;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
