
/* RESET SUPER-SIMPLE.NET */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article{
	margin-bottom: 2em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* MY RESET---------------- * * * */
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    transition: all 300ms;
    position: relative;

}

ul, ol{
    list-style-type: none;
}

li{

    list-style: none;
}



/*BREAKPOINTS---------------- * * * */

/* MIS BREAKPOINTS
mobile-small  >>>>> up to 576 px
mobile-medium  >>> up to 768 px
tablet  >>>>>>>>>> up to 992 px
desktop  >>>>>>>> up to 1200 px
widescreen >>>>>> up to 1216 px
fullhd >>>>>>>>>> up to 1400 px */

@mixin maxWidthDesktop {
    max-width: 1200px;

}
@mixin maxWidthTablet {
    max-width: 992px;
    
}
@mixin maxWidthMobile {
    max-width: 768;
    
}
@mixin maxWidthSmallMobile {
    max-width: 576;
    
}
	


/*COLORS---------------- * * * */

$cream: #FFFDF8;
$cyan: #3F676D;
$light-cyan: #6EB3BD;
$peach:	#F3C59F;
$deep:#262B49;
$danger:#C84350;
$success: #B8E986;

$successShadow: #81A35E;   
$peachShadow: #A4866D;
$dangerShadow: #9C333D;


$creamTransparent: rgba(255,253,248,0);
$creamSolid: rgba(255,253,248,1);
$lightCyanTransparent: rgba(110, 179, 189,.2);
$lightCyanSolid: rgba(110, 179, 189,1);
$deepTransparent: rgba(39, 45, 75,0);
$deepSolid: rgba(39, 45, 75,1);
$generalShadow: rgba(38,43,73,.2);


.bg-lcyan{
    background-color: $light-cyan;
}
.bg-peach{
    background-color: $peach;
}
.bg-success{
    background-color: $success;
}

/*GLOBAL FONTS---------------- * * * */

$family-primary: 'Work Sans', 'cursive';
$family-secondary: 'Comfortaa', 'sans-serif';
$family-artist:  'Gloria Hallelujah', cursive;



$h1Font: calc(1rem + 1.1vw);
$h2Font: calc(1rem + .5vw);
$h3Font: calc(1rem + .4vw);
$h4Font: calc(1rem + .3vw);
$pFont: calc(1rem + .1vw);
$iconsDecoration: calc(5rem + .1vw);
$tagFont: 12px;
$iFont: 40px;

/*GLOBAL VARIABLES & MIXINS---------------- * * * */


*{
    font-family: $family-secondary;
    line-height: 1.5;

}
body{
    background-color: $cream;
    color: $deep;
}
.gradientBottom{

    display: block;
    position: fixed;
    z-index: 300;
    bottom: 0;
    background-color: tan;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(180deg, $creamTransparent 0%, $creamSolid 100%);
}
.columns{
    flex-wrap: wrap;
}

figure img{
    width: 100%;
    border-radius: 6px;

}


$bradius: 2rem;
$minPadding: 1rem;
$padding2: 2rem;
$padding3: 3rem;
$padding4: 4rem;
$padding5: 5rem;


@mixin shadow {
    box-shadow: -10px 10px 24px $generalShadow;
}
@mixin flex--between{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
@mixin flex--start{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

@mixin flex--end{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

@mixin flex--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin flex--between__start{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
@mixin flex--start__end{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}


@mixin  appearGradient {
    background: linear-gradient(180deg, $creamTransparent 0%, $creamSolid 100%);
}


.intro{
    opacity: 0;
    transform: scale(0);
    transform-origin: left bottom;

}

.appear{

    animation: appearUp 600ms ease-in-out forwards;

}

.arrow{
    position: absolute;
    top: 80vh;
    right: 100%;
    margin-right: -50%;
    background-color: $light-cyan;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 8px 5px;

    i::before{
        color: $cream;
    }
}

.arrowDown {

    animation: bounceArrowDown 3000ms ease-in-out infinite;
    animation-delay: 2000ms;
}
.arrowUp {
    position: fixed;
    right: $padding2;
    animation: bounceArrowUp 3000ms ease-in-out infinite;
    animation-delay: 2000ms;
}

.dropAnimation{
    animation: splash 300ms ease-in forwards;
    animation-delay: 400ms;
}   



/* HEADINGS ---------------- * * * */
h1{ 
    font-family: $family-primary;
    color: $deep;
    font-weight: normal;
    font-size: $h1Font;
    line-height: 1.5;
    padding-bottom: $padding3;
    padding-top: $padding4;

}
h2{ 
    font-family: $family-secondary;
    color: $deep;
    font-size: $h2Font;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: $minPadding;
}
h3{
    font-family: $family-primary;
    color: $peach;
    font-size: $h3Font;
    line-height: 1.5;
    font-weight: lighter;
    padding-bottom: $minPadding;
}

h4{
    font-family: $family-secondary;
    color: $deep;
    font-size: $h4Font;
    line-height: 1.5;
    padding-bottom: $minPadding;
}

p{
    line-height: 1.5;
    padding-bottom: $minPadding;
    font-size: $pFont;
}

a{
    color: $deep;
    font-weight: bold;
    opacity: .8;
}
a:hover{
    color: $light-cyan;
    opacity: 1;
}

.warning{
    color: $danger;
}
/*BIG BLOCKS AND COMPONENTS---------------- * * * */

.container{
    margin: 0 auto;
    @include maxWidthDesktop();
}


nav{
    @include maxWidthDesktop();
    padding: 0 $padding2;
}
section{

    padding: $padding5 $padding2;

}
article{
    margin-bottom: $padding3;
}
.wrapCards{
    @include flex--between__start();
    align-items: flex-start;
} 


.card{

    background-color: $cream;
    border-radius: $bradius;
    width: 31%;
    min-height: 38vh;
    overflow: hidden;
    margin: 0 $minPadding $padding2 0;
    @include shadow();
    @include flex--start();


    .infoArticle{
        margin-top: 0;
        //width: 70%;
        padding: $padding2;

        h2{
            color: $deep;
            padding-bottom: 0;
            margin: 0;
            padding: 0;
        }
    }
} 

.fixed{
    position: fixed;
    top: 10vh;
}
.tags{
    @include flex--start();
}

.tag{
    font-size: $tagFont;
    font-weight: bold;
    animation-delay: 200ms;
    min-width: 100px;
    text-align: center;
    color: $cream;
    line-height: 0;
    padding: 0 $minPadding;
    border-radius: $bradius;
    background-color: $light-cyan;
    padding: $minPadding;
    margin-right: $minPadding;
    margin-bottom: $minPadding;

}

.bigBgColor{
    
    background-color: $lightCyanTransparent;
    width: 100%;
    .tag{
        //background-color: $deep;
        color: $cream;
    }
    h1, h2{
        color: $deep;
    }
    h3{
        color: $peach;
    }
    p{
        color: $deep;
    }

}

.wrapSideBlocks{
    width: 100%;
    @include flex--start();
}
.sideBlock{
    width: 100%;
    max-width: 800px;
    border-left: 4px solid $peach;
    padding-left: $padding2;
    h2{
        padding-bottom: 0;
    }
}


.bucket{
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-dark-opac-25.svg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: contain;
    background-position: right center;
}

.bucket--cyan{
    background-image: url(../img/bg-cyan__trans__opac-25.svg);
}
.bucket--peach{
    background-image: url(../img/bg-peach-opac-25.svg);
}
.bucket--success{
    background-image: url(../img/bg-success-opac-50.svg);
}



/*HEADER---------------- * * * */

header {
    @include shadow();
    padding: $minPadding $padding2;
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: $cream;
}


/*LOGO---------------- * * * */

.navLogo{
    @include flex--start();
    width: 40%;
    &:hover{
        cursor: pointer;
    }
    
}

.logoImg{
    width: 60px;
    height: 60px;
}

.logoText{

padding-left: 1rem;
padding-bottom: 0;

    .logoText--title{
        font-family: $family-primary;
        color: $deep;
        font-size: $h1Font;
        line-height: 1;
        padding-bottom: 0;
        padding-top: 0;
    }
    .logoText--subtitle{
        font-family: $family-secondary;
        color: $light-cyan;
        font-size: $h4Font;
        padding: 0 0 0 5px;
    }
}




/*MAIN NAV---------------- * * * */

.navbar{
    background-color: $cream;
    @include flex--between();

}

.navbarMenu{

    @include flex--end();
}

.navbar--item{

    padding-left: $minPadding;
    line-height: 2;

    &:after{
        position: absolute;
        bottom: 0px;
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: $peach;
        border-radius: 2px;
    }
    &:hover{
        cursor: pointer;
        &:after{
            transition: all 300ms;
            width: 90%;
        }
    }
}


.navbar--item a:hover > .navbar--item a::after{
    width: 100%;
}




/*HERO INTRODUCTION---------------- * * * */

.hero{
    top: 30;
    height: 100vh;
    width: 100%;
    @include flex--start__end();
    h1{
        display: block;
        padding-top: 0;
        padding-bottom: $minPadding;
    }

    article{

        width: 60%;
        min-height: 10vh;
        margin-bottom: 20vh;
        @include flex--start();
    }


}

#artist{
    font-weight: bold;
    font-family: $family-artist;
    color: $light-cyan;

}

.drop{ 
    display: block;
    background-image: url(../img/drop-success.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    width: $padding5;
    height: $padding5;
    position: absolute;
    top: -70px;
    right: -70px;
    transform: scale(0);
    transform-origin: center;

}
.drop2{
    background-image: url(../img/drop-light-cyan.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    width: $padding3;
    height: $padding3;
    top: -30px;
    right: -90px;

}


/*PROYECTS---------------- * * * */
.projects{
    a{
        width: 100%;
        height: 100%;
    }
    .working{
        display: block;
        min-height: 250px;
        width: 100%;
        background-color: $light-cyan;
    }
    .gear{
        background-image: url(../img/icons/gear-cyan.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        width: $padding5;
        height: $padding5;
        position: absolute;
        top: 30%;
        left: 10%;
        animation: roll 1000ms ease-in-out infinite forwards;

    }
    .gear-b{
        background-image: url(../img/icons/gear-peach.png);
        content: '';
        display: block;
        width: $padding3;
        height: $padding3;
        top: 30%;
        left: 35%;
        animation-direction: reverse;

    }
}



/*STUDIES---------------- * * * */
.studies{
    .wrapCards{
        @include flex--between();
    }
    .card{
        width: 48%;
        margin: 0;
        margin-top: $padding2;
    }
}



/*EXPERIENCE---------------- * * * */


/*CONTACT---------------- * * * */

.contact{
    min-height: 80vh;
    padding-bottom: 30vh;
    text-align: center;
    .card{
        @include flex--center();
        margin: $padding3 auto;
        width: 100%;
        max-width: 400px;
        padding: $padding2 $minPadding;
    }
    .infoArticle{
        @include flex--center();
        padding: 0;
    }

    .rrss{
        width: 100%;
        text-align: center;
        @include flex--center();
    }
    .linkedin, .github {

        padding: $minPadding $minPadding 0;

        i{
        font-size: $iFont;
        }
    }

    img{
        max-width: 150px;
    }
}

/*FOOTER---------------- * * * */

.footer{
    min-height: 20vh;
    background-color: $light-cyan;
    padding: $minPadding $padding3 $padding3;
    @include flex--end();
    .navbar{

        background-color: $light-cyan;

        a{
            color: $cream;
        }

    }
}
/*ICONS---------------- * * * */

.greet{
    margin: $padding2;
    display: block;
    box-sizing: border-box;
    width: $iconsDecoration;
    height: $iconsDecoration;
    background-image: url(../img/icons/open-hand.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: hi 400ms ease-in-out 3 forwards;
    transform-origin: center bottom;

}




/*ANIMATIONS---------------- * * * */
@keyframes appearUp{
    0%{
    
        opacity: 0;
        transform: scale(0);
        transform-origin: left bottom;
    }

    100%{

        opacity: 1;
        transform: scale(1);
        transform-origin: left bottom;

    }
}
@keyframes bounceArrowDown {

    0%  { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.05,.95) translateY(0); }
    50%  { transform: scale(.9,1.1)   translateY(-10px); }
    57% { transform: scale(1,1)      translateY(0); }
    60%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1.1,.9)   translateY(0); }
    100%   { transform: scale(1,1)      translateY(0); }

}

@keyframes bounceArrowUp {




    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    50%  { transform: scale(1,1)      translateY(7px); }
    57% { transform: scale(1,1)      translateY(0); }
    60%  { transform: scale(.9,1.1)   translateY(10px); }
    64%  { transform: scale(1.05,.95) translateY(0); }
    100%  { transform: scale(1,1)      translateY(0); }
}

@keyframes splash {
    0%{
        transform: scale(0);
        transform-origin: center;
    }
    100%{
        transform: scale(1);
        transform-origin: center
    }
}

@keyframes hi {

    0%{
        transform: rotateZ(30deg)
    }
    50%{
        transform: rotateZ(-30deg);

    }
    100%{
        transform: rotateZ(30deg)
    }
    
}
@keyframes roll {

    0%{
        transform: rotateZ(0deg)
    }

    100%{
        transform: rotateZ(90deg)
    }
    
}



/*MEDIA QUERIES---------------- * * * */

@media (max-width: 950px){
    .studies{
        .card{
            min-height: 40vh;
        }

    }

    $h1Font: calc(1rem + 1vw);
    $h2Font: calc(1rem + .3vw);
    $h3Font: calc(1rem + .2vw);
    $h4Font: calc(1rem + .1vw);
    $pFont: calc(1rem + .05vw);
    $tagFont: 12px;
    $iFont: 40px;

}




@media (max-width: 780px){
    .studies{
        .card{
            min-height: inherit;
            width: 100%;
        }
    }
}
